PROJECT 4 - Justin Clifton, Julia Januchowski, Zac Laney

The most prized individual accolade for a player in the NBA is the Most Valuable Player award. This award signifies that coaches, the media, and former players thought that the winner of this award was the most important player in the entire league. There have been 65 different players who have won this award. These players played different positions, had different statistics, and come from different eras. What then, do they have in common? Can we predict who will have an MVP season? What do a players statistics indicate about their chances of winning the award? These

Can we classify or predict what player is the MVP. We will try to do this by scraping the data from websites that store players stats along with a website that states who the current MVP was

In [1]:
import wikipedia
from basketball_reference_scraper.seasons import get_schedule, get_standings
from basketball_reference_scraper.players import get_stats, get_game_logs, get_player_headshot
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np

In [2]:
url = "https://www.basketball-reference.com/awards/mvp.html"
r = requests.get(url)
data = r.text
soup = BeautifulSoup(data, 'html.parser')
players = soup.find_all('td',{'data-stat' : 'player'})

In [3]:
players

[<td class="left" csk="Antetokounmpo,Giannis" data-append-csv="antetgi01" data-stat="player"><a href="/players/a/antetgi01.html">Giannis Antetokounmpo</a></td>,
 <td class="left" csk="Antetokounmpo,Giannis" data-append-csv="antetgi01" data-stat="player"><a href="/players/a/antetgi01.html">Giannis Antetokounmpo</a></td>,
 <td class="left" csk="Harden,James" data-append-csv="hardeja01" data-stat="player"><a href="/players/h/hardeja01.html">James Harden</a></td>,
 <td class="left" csk="Westbrook,Russell" data-append-csv="westbru01" data-stat="player"><a href="/players/w/westbru01.html">Russell Westbrook</a></td>,
 <td class="left" csk="Curry,Stephen" data-append-csv="curryst01" data-stat="player"><a href="/players/c/curryst01.html">Stephen Curry</a></td>,
 <td class="left" csk="Curry,Stephen" data-append-csv="curryst01" data-stat="player"><a href="/players/c/curryst01.html">Stephen Curry</a></td>,
 <td class="left" csk="Durant,Kevin" data-append-csv="duranke01" data-stat="player"><a href="/players/d/duranke01.html">Kevin Durant</a></td>,
 <td class="left" csk="James,LeBron" data-append-csv="jamesle01" data-stat="player"><a href="/players/j/jamesle01.html">LeBron James</a></td>,
 <td class="left" csk="James,LeBron" data-append-csv="jamesle01" data-stat="player"><a href="/players/j/jamesle01.html">LeBron James</a></td>,
 <td class="left" csk="Rose,Derrick" data-append-csv="rosede01" data-stat="player"><a href="/players/r/rosede01.html">Derrick Rose</a></td>,
 <td class="left" csk="James,LeBron" data-append-csv="jamesle01" data-stat="player"><a href="/players/j/jamesle01.html">LeBron James</a></td>,
 <td class="left" csk="James,LeBron" data-append-csv="jamesle01" data-stat="player"><a href="/players/j/jamesle01.html">LeBron James</a></td>,
 <td class="left" csk="Bryant,Kobe" data-append-csv="bryanko01" data-stat="player"><a href="/players/b/bryanko01.html">Kobe Bryant</a></td>,
 <td class="left" csk="Nowitzki,Dirk" data-append-csv="nowitdi01" data-stat="player"><a href="/players/n/nowitdi01.html">Dirk Nowitzki</a></td>,
 <td class="left" csk="Nash,Steve" data-append-csv="nashst01" data-stat="player"><a href="/players/n/nashst01.html">Steve Nash</a></td>,
 <td class="left" csk="Nash,Steve" data-append-csv="nashst01" data-stat="player"><a href="/players/n/nashst01.html">Steve Nash</a></td>,
 <td class="left" csk="Garnett,Kevin" data-append-csv="garneke01" data-stat="player"><a href="/players/g/garneke01.html">Kevin Garnett</a></td>,
 <td class="left" csk="Duncan,Tim" data-append-csv="duncati01" data-stat="player"><a href="/players/d/duncati01.html">Tim Duncan</a></td>,
 <td class="left" csk="Duncan,Tim" data-append-csv="duncati01" data-stat="player"><a href="/players/d/duncati01.html">Tim Duncan</a></td>,
 <td class="left" csk="Iverson,Allen" data-append-csv="iversal01" data-stat="player"><a href="/players/i/iversal01.html">Allen Iverson</a></td>,
 <td class="left" csk="O'Neal,Shaquille" data-append-csv="onealsh01" data-stat="player"><a href="/players/o/onealsh01.html">Shaquille O'Neal</a></td>,
 <td class="left" csk="Malone,Karl" data-append-csv="malonka01" data-stat="player"><a href="/players/m/malonka01.html">Karl Malone</a></td>,
 <td class="left" csk="Jordan,Michael" data-append-csv="jordami01" data-stat="player"><a href="/players/j/jordami01.html">Michael Jordan</a></td>,
 <td class="left" csk="Malone,Karl" data-append-csv="malonka01" data-stat="player"><a href="/players/m/malonka01.html">Karl Malone</a></td>,
 <td class="left" csk="Jordan,Michael" data-append-csv="jordami01" data-stat="player"><a href="/players/j/jordami01.html">Michael Jordan</a></td>,
 <td class="left" csk="Robinson,David" data-append-csv="robinda01" data-stat="player"><a href="/players/r/robinda01.html">David Robinson</a></td>,
 <td class="left" csk="Olajuwon,Hakeem" data-append-csv="olajuha01" data-stat="player"><a href="/players/o/olajuha01.html">Hakeem Olajuwon</a></td>,
 <td class="left" csk="Barkley,Charles" data-append-csv="barklch01" data-stat="player"><a href="/players/b/barklch01.html">Charles Barkley</a></td>,
 <td class="left" csk="Jordan,Michael" data-append-csv="jordami01" data-stat="player"><a href="/players/j/jordami01.html">Michael Jordan</a></td>,
 <td class="left" csk="Jordan,Michael" data-append-csv="jordami01" data-stat="player"><a href="/players/j/jordami01.html">Michael Jordan</a></td>,
 <td class="left" csk="Johnson,Magic" data-append-csv="johnsma02" data-stat="player"><a href="/players/j/johnsma02.html">Magic Johnson</a></td>,
 <td class="left" csk="Johnson,Magic" data-append-csv="johnsma02" data-stat="player"><a href="/players/j/johnsma02.html">Magic Johnson</a></td>,
 <td class="left" csk="Jordan,Michael" data-append-csv="jordami01" data-stat="player"><a href="/players/j/jordami01.html">Michael Jordan</a></td>,
 <td class="left" csk="Johnson,Magic" data-append-csv="johnsma02" data-stat="player"><a href="/players/j/johnsma02.html">Magic Johnson</a></td>,
 <td class="left" csk="Bird,Larry" data-append-csv="birdla01" data-stat="player"><a href="/players/b/birdla01.html">Larry Bird</a></td>,
 <td class="left" csk="Bird,Larry" data-append-csv="birdla01" data-stat="player"><a href="/players/b/birdla01.html">Larry Bird</a></td>,
 <td class="left" csk="Bird,Larry" data-append-csv="birdla01" data-stat="player"><a href="/players/b/birdla01.html">Larry Bird</a></td>,
 <td class="left" csk="Malone,Moses" data-append-csv="malonmo01" data-stat="player"><a href="/players/m/malonmo01.html">Moses Malone</a></td>,
 <td class="left" csk="Malone,Moses" data-append-csv="malonmo01" data-stat="player"><a href="/players/m/malonmo01.html">Moses Malone</a></td>,
 <td class="left" csk="Erving,Julius" data-append-csv="ervinju01" data-stat="player"><a href="/players/e/ervinju01.html">Julius Erving</a></td>,
 <td class="left" csk="Abdul-Jabbar,Kareem" data-append-csv="abdulka01" data-stat="player"><a href="/players/a/abdulka01.html">Kareem Abdul-Jabbar</a></td>,
 <td class="left" csk="Malone,Moses" data-append-csv="malonmo01" data-stat="player"><a href="/players/m/malonmo01.html">Moses Malone</a></td>,
 <td class="left" csk="Walton,Bill" data-append-csv="waltobi01" data-stat="player"><a href="/players/w/waltobi01.html">Bill Walton</a></td>,
 <td class="left" csk="Abdul-Jabbar,Kareem" data-append-csv="abdulka01" data-stat="player"><a href="/players/a/abdulka01.html">Kareem Abdul-Jabbar</a></td>,
 <td class="left" csk="Abdul-Jabbar,Kareem" data-append-csv="abdulka01" data-stat="player"><a href="/players/a/abdulka01.html">Kareem Abdul-Jabbar</a></td>,
 <td class="left" csk="McAdoo,Bob" data-append-csv="mcadobo01" data-stat="player"><a href="/players/m/mcadobo01.html">Bob McAdoo</a></td>,
 <td class="left" csk="Abdul-Jabbar,Kareem" data-append-csv="abdulka01" data-stat="player"><a href="/players/a/abdulka01.html">Kareem Abdul-Jabbar</a></td>,
 <td class="left" csk="Cowens,Dave" data-append-csv="cowenda01" data-stat="player"><a href="/players/c/cowenda01.html">Dave Cowens</a></td>,
 <td class="left" csk="Abdul-Jabbar,Kareem" data-append-csv="abdulka01" data-stat="player"><a href="/players/a/abdulka01.html">Kareem Abdul-Jabbar</a></td>,
 <td class="left" csk="Abdul-Jabbar,Kareem" data-append-csv="abdulka01" data-stat="player"><a href="/players/a/abdulka01.html">Kareem Abdul-Jabbar</a></td>,
 <td class="left" csk="Reed,Willis" data-append-csv="reedwi01" data-stat="player"><a href="/players/r/reedwi01.html">Willis Reed</a></td>,
 <td class="left" csk="Unseld,Wes" data-append-csv="unselwe01" data-stat="player"><a href="/players/u/unselwe01.html">Wes Unseld</a></td>,
 <td class="left" csk="Chamberlain,Wilt" data-append-csv="chambwi01" data-stat="player"><a href="/players/c/chambwi01.html">Wilt Chamberlain</a></td>,
 <td class="left" csk="Chamberlain,Wilt" data-append-csv="chambwi01" data-stat="player"><a href="/players/c/chambwi01.html">Wilt Chamberlain</a></td>,
 <td class="left" csk="Chamberlain,Wilt" data-append-csv="chambwi01" data-stat="player"><a href="/players/c/chambwi01.html">Wilt Chamberlain</a></td>,
 <td class="left" csk="Russell,Bill" data-append-csv="russebi01" data-stat="player"><a href="/players/r/russebi01.html">Bill Russell</a></td>,
 <td class="left" csk="Robertson,Oscar" data-append-csv="roberos01" data-stat="player"><a href="/players/r/roberos01.html">Oscar Robertson</a></td>,
 <td class="left" csk="Russell,Bill" data-append-csv="russebi01" data-stat="player"><a href="/players/r/russebi01.html">Bill Russell</a></td>,
 <td class="left" csk="Russell,Bill" data-append-csv="russebi01" data-stat="player"><a href="/players/r/russebi01.html">Bill Russell</a></td>,
 <td class="left" csk="Russell,Bill" data-append-csv="russebi01" data-stat="player"><a href="/players/r/russebi01.html">Bill Russell</a></td>,
 <td class="left" csk="Chamberlain,Wilt" data-append-csv="chambwi01" data-stat="player"><a href="/players/c/chambwi01.html">Wilt Chamberlain</a></td>,
 <td class="left" csk="Pettit,Bob" data-append-csv="pettibo01" data-stat="player"><a href="/players/p/pettibo01.html">Bob Pettit</a></td>,
 <td class="left" csk="Russell,Bill" data-append-csv="russebi01" data-stat="player"><a href="/players/r/russebi01.html">Bill Russell</a></td>,
 <td class="left" csk="Cousy,Bob" data-append-csv="cousybo01" data-stat="player"><a href="/players/c/cousybo01.html">Bob Cousy</a></td>,
 <td class="left" csk="Pettit,Bob" data-append-csv="pettibo01" data-stat="player"><a href="/players/p/pettibo01.html">Bob Pettit</a></td>,
 <td class="left" csk="Erving,Julius" data-append-csv="ervinju01" data-stat="player"><a href="/players/e/ervinju01.html">Julius Erving</a></td>,
 <td class="left" csk="Erving,Julius" data-append-csv="ervinju01" data-stat="player"><a href="/players/e/ervinju01.html">Julius Erving</a> (Tie)</td>,
 <td class="left" csk="McGinnis,George" data-append-csv="mcginge01" data-stat="player"><a href="/players/m/mcginge01.html">George McGinnis</a> (Tie)</td>,
 <td class="left" csk="Erving,Julius" data-append-csv="ervinju01" data-stat="player"><a href="/players/e/ervinju01.html">Julius Erving</a></td>,
 <td class="left" csk="Cunningham,Billy" data-append-csv="cunnibi01" data-stat="player"><a href="/players/c/cunnibi01.html">Billy Cunningham</a></td>,
 <td class="left" csk="Gilmore,Artis" data-append-csv="gilmoar01" data-stat="player"><a href="/players/g/gilmoar01.html">Artis Gilmore</a></td>,
 <td class="left" csk="Daniels,Mel" data-append-csv="danieme01" data-stat="player"><a href="/players/d/danieme01.html">Mel Daniels</a></td>,
 <td class="left" csk="Haywood,Spencer" data-append-csv="haywosp01" data-stat="player"><a href="/players/h/haywosp01.html">Spencer Haywood</a></td>,
 <td class="left" csk="Daniels,Mel" data-append-csv="danieme01" data-stat="player"><a href="/players/d/danieme01.html">Mel Daniels</a></td>,
 <td class="left" csk="Hawkins,Connie" data-append-csv="hawkico01" data-stat="player"><a href="/players/h/hawkico01.html">Connie Hawkins</a></td>]

In [4]:
player_list = []
for player in players:
    if player.text != "Giannis Antetokounmpo":
        player_list.append(player.text)

In [5]:
player_list

['James Harden',
 'Russell Westbrook',
 'Stephen Curry',
 'Stephen Curry',
 'Kevin Durant',
 'LeBron James',
 'LeBron James',
 'Derrick Rose',
 'LeBron James',
 'LeBron James',
 'Kobe Bryant',
 'Dirk Nowitzki',
 'Steve Nash',
 'Steve Nash',
 'Kevin Garnett',
 'Tim Duncan',
 'Tim Duncan',
 'Allen Iverson',
 "Shaquille O'Neal",
 'Karl Malone',
 'Michael Jordan',
 'Karl Malone',
 'Michael Jordan',
 'David Robinson',
 'Hakeem Olajuwon',
 'Charles Barkley',
 'Michael Jordan',
 'Michael Jordan',
 'Magic Johnson',
 'Magic Johnson',
 'Michael Jordan',
 'Magic Johnson',
 'Larry Bird',
 'Larry Bird',
 'Larry Bird',
 'Moses Malone',
 'Moses Malone',
 'Julius Erving',
 'Kareem Abdul-Jabbar',
 'Moses Malone',
 'Bill Walton',
 'Kareem Abdul-Jabbar',
 'Kareem Abdul-Jabbar',
 'Bob McAdoo',
 'Kareem Abdul-Jabbar',
 'Dave Cowens',
 'Kareem Abdul-Jabbar',
 'Kareem Abdul-Jabbar',
 'Willis Reed',
 'Wes Unseld',
 'Wilt Chamberlain',
 'Wilt Chamberlain',
 'Wilt Chamberlain',
 'Bill Russell',
 'Oscar Robertson',
 'Bill Russell',
 'Bill Russell',
 'Bill Russell',
 'Wilt Chamberlain',
 'Bob Pettit',
 'Bill Russell',
 'Bob Cousy',
 'Bob Pettit',
 'Julius Erving',
 'Julius Erving\xa0(Tie)',
 'George McGinnis\xa0(Tie)',
 'Julius Erving',
 'Billy Cunningham',
 'Artis Gilmore',
 'Mel Daniels',
 'Spencer Haywood',
 'Mel Daniels',
 'Connie Hawkins']

In [6]:
season_stats = pd.read_csv('Seasons_Stats.csv')

In [7]:
season_stats.columns

Index(['Unnamed: 0', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2',
       'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [8]:
data = np.array(player_list)
mvps = pd.DataFrame(data , columns = ['Names'])

In [9]:
stats_df = season_stats[season_stats['Year'] > 1973.0]
stats_df = season_stats[season_stats['Year'] < 2018.0]

In [10]:
stats_df.drop(columns =['Unnamed: 0', 'blanl', 'blank2'], inplace = True)
stats_df

/home/jc/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [11]:
stats_df.isnull().sum()

Year         0
Player       0
Pos          0
Age          8
Tm           0
G            0
GS        6391
MP         486
PER        523
TS%         86
3PAr      5785
FTr         99
ORB%      3832
DRB%      3832
TRB%      3053
AST%      2069
STL%      3832
BLK%      3832
TOV%      5042
USG%      4984
OWS         39
DWS         39
WS          39
WS/48      523
OBPM      3827
DBPM      3827
BPM       3827
VORP      3827
FG           0
FGA          0
FG%         99
3P        5697
3PA       5697
3P%       9208
2P           0
2PA          0
2P%        128
eFG%        99
FT           0
FTA          0
FT%        858
ORB       3827
DRB       3827
TRB        312
AST          0
STL       3827
BLK       3827
TOV       4979
PF           0
PTS          0
dtype: int64

In [12]:
allstars = stats_df['Player'].apply(lambda name: 1 if '*' in name else 0)

In [13]:
allstars.rename("is_allstar", inplace = True)

0        0
1        0
2        0
3        0
4        0
        ..
24686    0
24687    0
24688    0
24689    0
24690    0
Name: is_allstar, Length: 24624, dtype: int64

In [14]:
stats_df = pd.concat([stats_df, allstars], axis = 1)

In [15]:
stats_df

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,is_allstar
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0,0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0,0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0,0
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0,0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0,0
24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0,0
24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0,0
24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0,0
24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0,0

In [16]:
no_star_names = stats_df['Player'].apply(lambda name: name.replace('*', "") if '*' in name else name)
no_star_names.rename("Name", inplace = True)

0          Curly Armstrong
1             Cliff Barker
2            Leo Barnhorst
3               Ed Bartels
4               Ed Bartels
               ...
24686          Cody Zeller
24687         Tyler Zeller
24688    Stephen Zimmerman
24689          Paul Zipser
24690          Ivica Zubac
Name: Name, Length: 24624, dtype: object

In [17]:
stats_df.drop(columns = ['Player'], inplace = True)

In [18]:
stats_df['Name'] = no_star_names
#for player in no_star_names:
    #print(player)
stats_df['Name']
stats_df

,Year,Pos,Age,Tm,G,GS,MP,PER,TS%,3PAr,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,is_allstar,Name
0,1950.0,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,NaN,...,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0,0,Curly Armstrong
1,1950.0,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,NaN,...,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0,0,Cliff Barker
2,1950.0,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,NaN,...,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0,0,Leo Barnhorst
3,1950.0,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,NaN,...,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0,0,Ed Bartels
4,1950.0,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,NaN,...,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0,0,Ed Bartels
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2017.0,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,0.002,...,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0,0,Cody Zeller
24687,2017.0,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,0.006,...,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0,0,Tyler Zeller
24688,2017.0,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,0.000,...,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0,0,Stephen Zimmerman
24689,2017.0,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,0.448,...,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0,0,Paul Zipser
24690,2017.0,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,0.013,...,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0,0,Ivica Zubac

In [19]:
# mvps.head()

In [20]:
# for mvp in mvps['Names']:
#     print(mvp)

In [21]:
years = soup.find_all('th',{'data-stat' : 'season'})

In [22]:
years

[<th aria-label="If listed as single number, the year the season ended.★ - Indicates All-Star for league.Only on regular season tables." class="poptip sort_default_asc center" data-stat="season" data-tip="If listed as single number, the year the season ended.&lt;br&gt;★ - Indicates All-Star for league.&lt;br&gt;Only on regular season tables." scope="col">Season</th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_2020.html">2019-20</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_2019.html">2018-19</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_2018.html">2017-18</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_2017.html">2016-17</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_2016.html">2015-16</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_2015.html">2014-15</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_2014.html">2013-14</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_2013.html">2012-13</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_2012.html">2011-12</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_2011.html">2010-11</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_2010.html">2009-10</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_2009.html">2008-09</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_2008.html">2007-08</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_2007.html">2006-07</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_2006.html">2005-06</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_2005.html">2004-05</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_2004.html">2003-04</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_2003.html">2002-03</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_2002.html">2001-02</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_2001.html">2000-01</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_2000.html">1999-00</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1999.html">1998-99</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1998.html">1997-98</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1997.html">1996-97</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1996.html">1995-96</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1995.html">1994-95</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1994.html">1993-94</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1993.html">1992-93</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1992.html">1991-92</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1991.html">1990-91</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1990.html">1989-90</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1989.html">1988-89</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1988.html">1987-88</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1987.html">1986-87</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1986.html">1985-86</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1985.html">1984-85</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1984.html">1983-84</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1983.html">1982-83</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1982.html">1981-82</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1981.html">1980-81</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1980.html">1979-80</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1979.html">1978-79</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1978.html">1977-78</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1977.html">1976-77</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1976.html">1975-76</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1975.html">1974-75</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1974.html">1973-74</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1973.html">1972-73</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1972.html">1971-72</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1971.html">1970-71</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1970.html">1969-70</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1969.html">1968-69</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1968.html">1967-68</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1967.html">1966-67</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1966.html">1965-66</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1965.html">1964-65</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1964.html">1963-64</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1963.html">1962-63</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1962.html">1961-62</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1961.html">1960-61</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1960.html">1959-60</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1959.html">1958-59</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1958.html">1957-58</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1957.html">1956-57</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/NBA_1956.html">1955-56</a></th>,
 <th aria-label="If listed as single number, the year the season ended.★ - Indicates All-Star for league.Only on regular season tables." class="poptip sort_default_asc center" data-stat="season" data-tip="If listed as single number, the year the season ended.&lt;br&gt;★ - Indicates All-Star for league.&lt;br&gt;Only on regular season tables." scope="col">Season</th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/ABA_1976.html">1975-76</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/ABA_1975.html">1974-75</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/ABA_1975.html">1974-75</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/ABA_1974.html">1973-74</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/ABA_1973.html">1972-73</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/ABA_1972.html">1971-72</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/ABA_1971.html">1970-71</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/ABA_1970.html">1969-70</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/ABA_1969.html">1968-69</a></th>,
 <th class="left" data-stat="season" scope="row"><a href="/leagues/ABA_1968.html">1967-68</a></th>]

In [23]:
year_list = []
for year in years:
    year_list.append(year.text)

In [24]:
len(mvps)

73

In [25]:
len(years)

77

In [26]:
len(year_list)
year_list

['Season',
 '2019-20',
 '2018-19',
 '2017-18',
 '2016-17',
 '2015-16',
 '2014-15',
 '2013-14',
 '2012-13',
 '2011-12',
 '2010-11',
 '2009-10',
 '2008-09',
 '2007-08',
 '2006-07',
 '2005-06',
 '2004-05',
 '2003-04',
 '2002-03',
 '2001-02',
 '2000-01',
 '1999-00',
 '1998-99',
 '1997-98',
 '1996-97',
 '1995-96',
 '1994-95',
 '1993-94',
 '1992-93',
 '1991-92',
 '1990-91',
 '1989-90',
 '1988-89',
 '1987-88',
 '1986-87',
 '1985-86',
 '1984-85',
 '1983-84',
 '1982-83',
 '1981-82',
 '1980-81',
 '1979-80',
 '1978-79',
 '1977-78',
 '1976-77',
 '1975-76',
 '1974-75',
 '1973-74',
 '1972-73',
 '1971-72',
 '1970-71',
 '1969-70',
 '1968-69',
 '1967-68',
 '1966-67',
 '1965-66',
 '1964-65',
 '1963-64',
 '1962-63',
 '1961-62',
 '1960-61',
 '1959-60',
 '1958-59',
 '1957-58',
 '1956-57',
 '1955-56',
 'Season',
 '1975-76',
 '1974-75',
 '1974-75',
 '1973-74',
 '1972-73',
 '1971-72',
 '1970-71',
 '1969-70',
 '1968-69',
 '1967-68']

In [27]:
year_list = [year for year in year_list if year != 'Season']

In [28]:
data = np.array(year_list)

year_series = pd.DataFrame(data = data, columns = ['Year'])

In [29]:
mvps = pd.concat([mvps, year_series], axis = 1)

In [30]:
mvps

                Names     Year
0        James Harden  2019-20
1   Russell Westbrook  2018-19
2       Stephen Curry  2017-18
3       Stephen Curry  2016-17
4        Kevin Durant  2015-16
..                ...      ...
70    Spencer Haywood  1971-72
71        Mel Daniels  1970-71
72     Connie Hawkins  1969-70
73                NaN  1968-69
74                NaN  1967-68

[75 rows x 2 columns]

In [31]:
start_years = mvps['Year'].apply(lambda year: float(year[:4]))

In [32]:
mvps['Year'] = start_years

In [33]:
year_name_list = []
for i, j in stats_df.iterrows(): 
    #print(stats_df.iloc[i]['Year'])
    #print(stats_df.iloc[i]['Name'])
    #print("{}{}".format(stats_df.iloc[i]['Name'],stats_df.iloc[i]['Year']))
    year_name_list.append(j.Name + str(j.Year))


data = np.array(year_name_list)

name_year_series = pd.DataFrame(data = data, columns = ['name_year'])
stats_df.index = name_year_series['name_year']

In [34]:
mvps_list = []
for name, year in zip(mvps['Names'], mvps['Year']):
    for name2, year2 in zip(stats_df['Name'], stats_df['Year']):
        if(name == name2 and year == year2):
            print(name, name2, year, year2)
            mvps_list.append(name + str(year))

Stephen Curry Stephen Curry 2017.0 2017.0
Stephen Curry Stephen Curry 2016.0 2016.0
Kevin Durant Kevin Durant 2015.0 2015.0
LeBron James LeBron James 2014.0 2014.0
LeBron James LeBron James 2013.0 2013.0
Derrick Rose Derrick Rose 2012.0 2012.0
LeBron James LeBron James 2011.0 2011.0
LeBron James LeBron James 2010.0 2010.0
Kobe Bryant Kobe Bryant 2009.0 2009.0
Dirk Nowitzki Dirk Nowitzki 2008.0 2008.0
Steve Nash Steve Nash 2007.0 2007.0
Steve Nash Steve Nash 2006.0 2006.0
Kevin Garnett Kevin Garnett 2005.0 2005.0
Tim Duncan Tim Duncan 2004.0 2004.0
Tim Duncan Tim Duncan 2003.0 2003.0
Allen Iverson Allen Iverson 2002.0 2002.0
Shaquille O'Neal Shaquille O'Neal 2001.0 2001.0
Karl Malone Karl Malone 2000.0 2000.0
Karl Malone Karl Malone 1998.0 1998.0
Michael Jordan Michael Jordan 1997.0 1997.0
David Robinson David Robinson 1996.0 1996.0
Hakeem Olajuwon Hakeem Olajuwon 1995.0 1995.0
Charles Barkley Charles Barkley 1994.0 1994.0
Michael Jordan Michael Jordan 1993.0 1993.0
Michael Jordan Michael Jordan 1992.0 1992.0
Magic Johnson Magic Johnson 1991.0 1991.0
Magic Johnson Magic Johnson 1990.0 1990.0
Michael Jordan Michael Jordan 1989.0 1989.0
Magic Johnson Magic Johnson 1988.0 1988.0
Larry Bird Larry Bird 1987.0 1987.0
Larry Bird Larry Bird 1986.0 1986.0
Larry Bird Larry Bird 1985.0 1985.0
Moses Malone Moses Malone 1984.0 1984.0
Moses Malone Moses Malone 1983.0 1983.0
Julius Erving Julius Erving 1982.0 1982.0
Kareem Abdul-Jabbar Kareem Abdul-Jabbar 1981.0 1981.0
Moses Malone Moses Malone 1980.0 1980.0
Kareem Abdul-Jabbar Kareem Abdul-Jabbar 1978.0 1978.0
Kareem Abdul-Jabbar Kareem Abdul-Jabbar 1977.0 1977.0
Bob McAdoo Bob McAdoo 1976.0 1976.0
Kareem Abdul-Jabbar Kareem Abdul-Jabbar 1975.0 1975.0
Dave Cowens Dave Cowens 1974.0 1974.0
Kareem Abdul-Jabbar Kareem Abdul-Jabbar 1973.0 1973.0
Kareem Abdul-Jabbar Kareem Abdul-Jabbar 1972.0 1972.0
Willis Reed Willis Reed 1971.0 1971.0
Wes Unseld Wes Unseld 1970.0 1970.0
Wilt Chamberlain Wilt Chamberlain 1969.0 1969.0
Wilt Chamberlain Wilt Chamberlain 1968.0 1968.0
Wilt Chamberlain Wilt Chamberlain 1967.0 1967.0
Bill Russell Bill Russell 1966.0 1966.0
Oscar Robertson Oscar Robertson 1965.0 1965.0
Bill Russell Bill Russell 1964.0 1964.0
Bill Russell Bill Russell 1963.0 1963.0
Bill Russell Bill Russell 1962.0 1962.0
Wilt Chamberlain Wilt Chamberlain 1961.0 1961.0
Bob Pettit Bob Pettit 1960.0 1960.0
Bill Russell Bill Russell 1959.0 1959.0
Bob Cousy Bob Cousy 1958.0 1958.0
Bob Pettit Bob Pettit 1957.0 1957.0
Spencer Haywood Spencer Haywood 1971.0 1971.0

In [35]:
was_mvp_list = []
for i, j in stats_df.iterrows(): 
    
    if i in mvps_list:
        print(i)
        was_mvp_list.append(1)
    else:
        was_mvp_list.append(0)

Bob Pettit1957.0
Bob Cousy1958.0
Bill Russell1959.0
Bob Pettit1960.0
Wilt Chamberlain1961.0
Bill Russell1962.0
Bill Russell1963.0
Bill Russell1964.0
Oscar Robertson1965.0
Bill Russell1966.0
Wilt Chamberlain1967.0
Wilt Chamberlain1968.0
Wilt Chamberlain1969.0
Wes Unseld1970.0
Spencer Haywood1971.0
Willis Reed1971.0
Kareem Abdul-Jabbar1972.0
Kareem Abdul-Jabbar1973.0
Dave Cowens1974.0
Kareem Abdul-Jabbar1975.0
Bob McAdoo1976.0
Kareem Abdul-Jabbar1977.0
Kareem Abdul-Jabbar1978.0
Moses Malone1980.0
Kareem Abdul-Jabbar1981.0
Julius Erving1982.0
Moses Malone1983.0
Moses Malone1984.0
Larry Bird1985.0
Larry Bird1986.0
Larry Bird1987.0
Magic Johnson1988.0
Michael Jordan1989.0
Magic Johnson1990.0
Magic Johnson1991.0
Michael Jordan1992.0
Michael Jordan1993.0
Charles Barkley1994.0
Hakeem Olajuwon1995.0
David Robinson1996.0
Michael Jordan1997.0
Karl Malone1998.0
Karl Malone2000.0
Shaquille O'Neal2001.0
Allen Iverson2002.0
Tim Duncan2003.0
Tim Duncan2004.0
Kevin Garnett2005.0
Steve Nash2006.0
Steve Nash2007.0
Dirk Nowitzki2008.0
Kobe Bryant2009.0
LeBron James2010.0
LeBron James2011.0
Derrick Rose2012.0
LeBron James2013.0
LeBron James2014.0
Kevin Durant2015.0
Stephen Curry2016.0
Stephen Curry2017.0

In [36]:
data = np.array(was_mvp_list)

was_mvp = pd.DataFrame(data = data, columns = ['was_mvp'])

was_mvp

       was_mvp
0            0
1            0
2            0
3            0
4            0
...        ...
24619        0
24620        0
24621        0
24622        0
24623        0

[24624 rows x 1 columns]

In [37]:
stats_df.index = was_mvp.index
stats_df = pd.concat([stats_df, was_mvp], axis = 1)

In [38]:
stats_df

,Year,Pos,Age,Tm,G,GS,MP,PER,TS%,3PAr,...,TRB,AST,STL,BLK,TOV,PF,PTS,is_allstar,Name,was_mvp
0,1950.0,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,NaN,...,NaN,176.0,NaN,NaN,NaN,217.0,458.0,0,Curly Armstrong,0
1,1950.0,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,NaN,...,NaN,109.0,NaN,NaN,NaN,99.0,279.0,0,Cliff Barker,0
2,1950.0,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,NaN,...,NaN,140.0,NaN,NaN,NaN,192.0,438.0,0,Leo Barnhorst,0
3,1950.0,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,NaN,...,NaN,20.0,NaN,NaN,NaN,29.0,63.0,0,Ed Bartels,0
4,1950.0,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,NaN,...,NaN,20.0,NaN,NaN,NaN,27.0,59.0,0,Ed Bartels,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24619,2017.0,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,0.002,...,405.0,99.0,62.0,58.0,65.0,189.0,639.0,0,Cody Zeller,0
24620,2017.0,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,0.006,...,124.0,42.0,7.0,21.0,20.0,61.0,178.0,0,Tyler Zeller,0
24621,2017.0,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,0.000,...,35.0,4.0,2.0,5.0,3.0,17.0,23.0,0,Stephen Zimmerman,0
24622,2017.0,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,0.448,...,125.0,36.0,15.0,16.0,40.0,78.0,240.0,0,Paul Zipser,0
24623,2017.0,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,0.013,...,159.0,30.0,14.0,33.0,30.0,66.0,284.0,0,Ivica Zubac,0

In [41]:
stats_df[stats_df["was_mvp"] == 1]

,Year,Pos,Age,Tm,G,GS,MP,PER,TS%,3PAr,...,TRB,AST,STL,BLK,TOV,PF,PTS,is_allstar,Name,was_mvp
1195,1957.0,C,24.0,STL,71.0,NaN,2491.0,28.1,0.494,NaN,...,1037.0,133.0,NaN,NaN,NaN,181.0,1755.0,1,Bob Pettit,1
1241,1958.0,PG,29.0,BOS,65.0,NaN,2222.0,17.9,0.415,NaN,...,322.0,463.0,NaN,NaN,NaN,136.0,1167.0,1,Bob Cousy,1
1428,1959.0,C,24.0,BOS,70.0,NaN,2979.0,20.7,0.493,NaN,...,1612.0,222.0,NaN,NaN,NaN,161.0,1168.0,1,Bill Russell,1
1528,1960.0,PF,27.0,STL,72.0,NaN,2896.0,23.7,0.510,NaN,...,1221.0,257.0,NaN,NaN,NaN,204.0,1882.0,1,Bob Pettit,1
1582,1961.0,C,24.0,PHW,79.0,NaN,3773.0,27.8,0.519,NaN,...,2149.0,148.0,NaN,NaN,NaN,130.0,3033.0,1,Wilt Chamberlain,1
1772,1962.0,C,27.0,BOS,76.0,NaN,3433.0,19.4,0.489,NaN,...,1790.0,341.0,NaN,NaN,NaN,207.0,1436.0,1,Bill Russell,1
1900,1963.0,C,28.0,BOS,78.0,NaN,3500.0,18.2,0.464,NaN,...,1843.0,348.0,NaN,NaN,NaN,189.0,1309.0,1,Bill Russell,1
2035,1964.0,C,29.0,BOS,78.0,NaN,3482.0,19.3,0.461,NaN,...,1930.0,370.0,NaN,NaN,NaN,190.0,1168.0,1,Bill Russell,1
2171,1965.0,PG,26.0,CIN,75.0,NaN,3421.0,26.7,0.561,NaN,...,674.0,861.0,NaN,NaN,NaN,205.0,2279.0,1,Oscar Robertson,1
2291,1966.0,C,31.0,BOS,78.0,NaN,3386.0,17.3,0.448,NaN,...,1779.0,371.0,NaN,NaN,NaN,221.0,1005.0,1,Bill Russell,1
2349,1967.0,C,30.0,PHI,81.0,NaN,3682.0,26.5,0.637,NaN,...,1957.0,630.0,NaN,NaN,NaN,143.0,1956.0,1,Wilt Chamberlain,1
2489,1968.0,C,31.0,PHI,82.0,NaN,3836.0,24.7,0.557,NaN,...,1952.0,702.0,NaN,NaN,NaN,160.0,1992.0,1,Wilt Chamberlain,1
2671,1969.0,C,32.0,LAL,81.0,NaN,3669.0,21.9,0.564,NaN,...,1712.0,366.0,NaN,NaN,NaN,142.0,1664.0,1,Wilt Chamberlain,1
3027,1970.0,C,23.0,BAL,82.0,NaN,3234.0,17.8,0.551,NaN,...,1370.0,291.0,NaN,NaN,NaN,250.0,1325.0,1,Wes Unseld,1
3148,1971.0,PF,21.0,SEA,33.0,NaN,1162.0,18.0,0.504,NaN,...,396.0,48.0,NaN,NaN,NaN,84.0,680.0,1,Spencer Haywood,1
3224,1971.0,C,28.0,NYK,73.0,NaN,2855.0,19.3,0.510,NaN,...,1003.0,148.0,NaN,NaN,NaN,228.0,1527.0,1,Willis Reed,1
3294,1972.0,C,24.0,MIL,81.0,NaN,3583.0,29.9,0.603,NaN,...,1346.0,370.0,NaN,NaN,NaN,235.0,2822.0,1,Kareem Abdul-Jabbar,1
3559,1973.0,C,25.0,MIL,76.0,NaN,3254.0,28.5,0.580,NaN,...,1224.0,379.0,NaN,NaN,NaN,208.0,2292.0,1,Kareem Abdul-Jabbar,1
3870,1974.0,C,25.0,BOS,80.0,NaN,3352.0,16.6,0.476,NaN,...,1257.0,354.0,95.0,101.0,NaN,294.0,1518.0,1,Dave Cowens,1
4073,1975.0,C,27.0,MIL,65.0,NaN,2747.0,26.4,0.550,NaN,...,912.0,264.0,65.0,212.0,NaN,205.0,1949.0,1,Kareem Abdul-Jabbar,1
4505,1976.0,C,24.0,BUF,78.0,NaN,3328.0,23.3,0.542,NaN,...,965.0,315.0,93.0,160.0,NaN,298.0,2427.0,1,Bob McAdoo,1
4623,1977.0,C,29.0,LAL,82.0,NaN,3016.0,27.8,0.608,NaN,...,1090.0,319.0,101.0,261.0,NaN,262.0,2152.0,1,Kareem Abdul-Jabbar,1
4982,1978.0,C,30.0,LAL,62.0,NaN,2265.0,29.2,0.589,NaN,...,801.0,269.0,103.0,185.0,208.0,182.0,1600.0,1,Kareem Abdul-Jabbar,1
5912,1980.0,C,24.0,HOU,82.0,NaN,3140.0,24.1,0.560,0.004,...,1190.0,147.0,80.0,107.0,300.0,210.0,2119.0,1,Moses Malone,1
6054,1981.0,C,33.0,LAL,80.0,NaN,2976.0,25.5,0.616,0.001,...,821.0,272.0,59.0,228.0,249.0,244.0,2095.0,1,Kareem Abdul-Jabbar,1
6514,1982.0,SF,31.0,PHI,81.0,81.0,2789.0,25.9,0.593,0.008,...,557.0,319.0,161.0,141.0,214.0,229.0,1974.0,1,Julius Erving,1
7012,1983.0,C,27.0,PHI,78.0,78.0,2922.0,25.1,0.578,0.001,...,1194.0,101.0,89.0,157.0,264.0,206.0,1908.0,1,Moses Malone,1
7369,1984.0,C,28.0,PHI,71.0,71.0,2613.0,21.8,0.566,0.004,...,950.0,96.0,71.0,110.0,250.0,188.0,1609.0,1,Moses Malone,1
7539,1985.0,SF,28.0,BOS,80.0,77.0,3161.0,26.5,0.585,0.074,...,842.0,531.0,129.0,98.0,248.0,208.0,2295.0,1,Larry Bird,1
7904,1986.0,SF,29.0,BOS,82.0,81.0,3113.0,25.6,0.580,0.121,...,805.0,557.0,166.0,51.0,266.0,182.0,2115.0,1,Larry Bird,1
8288,1987.0,SF,30.0,BOS,74.0,73.0,3005.0,26.4,0.612,0.150,...,682.0,566.0,135.0,70.0,240.0,185.0,2076.0,1,Larry Bird,1
8825,1988.0,PG,28.0,LAL,72.0,70.0,2637.0,23.1,0.581,0.056,...,449.0,858.0,114.0,13.0,269.0,147.0,1408.0,1,Magic Johnson,1
9258,1989.0,SG,25.0,CHI,81.0,81.0,3255.0,31.1,0.614,0.055,...,652.0,650.0,234.0,65.0,290.0,247.0,2633.0,1,Michael Jordan,1
9695,1990.0,PG,30.0,LAL,79.0,79.0,2937.0,26.6,0.622,0.243,...,522.0,907.0,132.0,34.0,289.0,167.0,1765.0,1,Magic Johnson,1
10167,1991.0,PG,31.0,LAL,79.0,79.0,2933.0,25.1,0.623,0.256,...,551.0,989.0,102.0,17.0,314.0,150.0,1531.0,1,Magic Johnson,1
10624,1992.0,SG,28.0,CHI,80.0,80.0,3102.0,27.7,0.579,0.055,...,511.0,489.0,182.0,75.0,200.0,201.0,2404.0,1,Michael Jordan,1
11063,1993.0,SG,29.0,CHI,78.0,78.0,3067.0,29.7,0.564,0.115,...,522.0,428.0,221.0,61.0,207.0,188.0,2541.0,1,Michael Jordan,1
11343,1994.0,PF,30.0,PHO,65.0,65.0,2298.0,22.8,0.563,0.170,...,727.0,296.0,101.0,37.0,206.0,160.0,1402.0,1,Charles Barkley,1
12093,1995.0,C,32.0,HOU,72.0,72.0,2853.0,26.0,0.563,0.010,...,775.0,255.0,133.0,242.0,237.0,250.0,2005.0,1,Hakeem Olajuwon,1
12651,1996.0,C,30.0,SAS,82.0,82.0,3019.0,29.4,0.589,0.007,...,1000.0,247.0,111.0,271.0,190.0,262.0,2051.0,1,David Robinson,1
13049,1997.0,SG,33.0,CHI,82.0,82.0,3106.0,27.8,0.567,0.157,...,482.0,352.0,140.0,44.0,166.0,156.0,2431.0,1,Michael Jordan,1
13641,1998.0,PF,34.0,UTA,81.0,81.0,3030.0,27.9,0.597,0.004,...,834.0,316.0,96.0,70.0,247.0,237.0,2190.0,1,Karl Malone,1
14703,2000.0,PF,36.0,UTA,82.0,82.0,2947.0,27.1,0.582,0.005,...,779.0,304.0,79.0,71.0,231.0,229.0,2095.0,1,Karl Malone,1
15279,2001.0,C,28.0,LAL,74.0,74.0,2924.0,30.2,0.574,0.001,...,940.0,277.0,47.0,204.0,218.0,256.0,2125.0,1,Shaquille O'Neal,1
15669,2002.0,SG,26.0,PHI,60.0,59.0,2622.0,21.9,0.489,0.161,...,269.0,331.0,168.0,13.0,237.0,102.0,1883.0,1,Allen Iverson,1
16076,2003.0,PF,26.0,SAS,81.0,81.0,3181.0,26.9,0.564,0.016,...,1043.0,316.0,55.0,237.0,248.0,231.0,1884.0,0,Tim Duncan,1
16593,2004.0,PF,27.0,SAS,69.0,68.0,2527.0,27.1,0.534,0.010,...,859.0,213.0,62.0,185.0,183.0,164.0,1538.0,0,Tim Duncan,1
17211,2005.0,PF,28.0,MIN,82.0,82.0,3121.0,28.2,0.567,0.018,...,1108.0,466.0,121.0,112.0,222.0,207.0,1817.0,0,Kevin Garnett,1
17964,2006.0,PG,31.0,PHO,79.0,79.0,2796.0,23.3,0.632,0.324,...,333.0,826.0,61.0,12.0,276.0,120.0,1489.0,0,Steve Nash,1
18505,2007.0,PG,32.0,PHO,76.0,76.0,2682.0,23.8,0.654,0.353,...,269.0,884.0,57.0,6.0,287.0,117.0,1412.0,0,Steve Nash,1
19084,2008.0,PF,29.0,DAL,77.0,77.0,2769.0,24.6,0.585,0.167,...,659.0,266.0,51.0,71.0,160.0,198.0,1817.0,0,Dirk Nowitzki,1
19369,2009.0,SG,30.0,LAL,82.0,82.0,2960.0,24.4,0.561,0.196,...,429.0,399.0,120.0,37.0,210.0,189.0,2201.0,0,Kobe Bryant,1
20147,2010.0,SF,25.0,CLE,76.0,76.0,2966.0,31.1,0.604,0.253,...,554.0,651.0,125.0,77.0,261.0,119.0,2258.0,0,LeBron James,1
20751,2011.0,SF,26.0,MIA,79.0,79.0,3063.0,27.3,0.594,0.188,...,590.0,554.0,124.0,50.0,284.0,163.0,2111.0,0,LeBron James,1
21482,2012.0,PG,23.0,CHI,39.0,39.0,1375.0,23.0,0.532,0.249,...,131.0,307.0,35.0,28.0,119.0,52.0,852.0,0,Derrick Rose,1
21870,2013.0,PF,28.0,MIA,76.0,76.0,2877.0,31.6,0.640,0.188,...,610.0,551.0,129.0,67.0,226.0,110.0,2036.0,0,LeBron James,1
22484,2014.0,PF,29.0,MIA,77.0,77.0,2902.0,29.3,0.649,0.226,...,533.0,488.0,121.0,26.0,270.0,126.0,2089.0,0,LeBron James,1
22975,2015.0,SF,26.0,OKC,27.0,27.0,913.0,27.6,0.633,0.340,...,178.0,110.0,24.0,25.0,74.0,40.0,686.0,0,Kevin Durant,1
23567,2016.0,PG,27.0,GSW,79.0,79.0,2700.0,31.5,0.669,0.554,...,430.0,527.0,169.0,15.0,262.0,161.0,2375.0,0,Stephen Curry,1
24149,2017.0,PG,28.0,GSW,79.0,79.0,2638.0,24.6,0.624,0.547,...,353.0,523.0,143.0,17.0,239.0,183.0,1999.0,0,Stephen Curry,1

citations:

https://stackoverflow.com/questions/45746426/data-scraping-basketball-data-using-beautiful-soup
https://www.crummy.com/software/BeautifulSoup/bs4/doc/
https://medium.com/hardwood-convergence/intro-to-virtual-environments-and-scraping-nba-data-with-beautifulsoup-6ce745f8c26e
https://stackoverflow.com/questions/3559559/how-to-delete-a-character-from-a-string-using-python